---
# Rol: adi_storage_frontend
# - Install nfs client
# - Mount the KVM export in /var/lib/one/datastores (persistent)


- name: Instalar NFS client
  apt:
    name: nfs-common
    state: present
    update_cache: true

- name: Asegurar carpeta de montaje existe
  file:
    path: "{{ adi_nfs_mount }}"
    state: directory
    mode: "0755"

- name: Montar NFS del KVM en el frontend (persistente)
  mount:
    path: "{{ adi_nfs_mount }}"
    src: "{{ adi_nfs_server }}:{{ adi_nfs_mount }}"
    fstype: nfs
    opts: "defaults"
    state: mounted
