---
# 1) Storage on the KVM (disk and NFS export)
- hosts: "{{ node_group | d('node') }}"
  gather_facts: false
  any_errors_fatal: true
  collections:
    - ansible.posix
    - community.general
  roles:
    - role: adi_storage_kvm

# 2) Mount shared storage on the frontend (nfs client)
- hosts: "{{ frontend_group | d('frontend') }}"
  gather_facts: false
  any_errors_fatal: true
  collections:
    - ansible.posix
    - community.general
  vars:
    ansible_python_interpreter: /usr/bin/python3 
  roles:
    - role: adi_storage_frontend

